@import './variables';
@import './responsive';

body{
    height: 100vh;
    width: auto;
}

h5{
    margin: 22px;
    font-weight: 700;
    font-size: 20px;
}

.body-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;

    @include media-md{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;  
    }

    img{
        margin: 20px;
        height: 70%;
        width: 75%;

        @include media-md{
            height: 40%;
            width: 40%;
        }
    }
}
.body-content{
    width: 100%;
    height: 90%;
    padding-left: 20px;

h3{
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 40px;
}

p{
    padding-top: 10px;
    text-align: left;
    font-family: serif;
    font-size: 20px;
    width: 80%;
}

button{
    margin-top: 30px;
    background: black;
    color: #fff;
    height: 60px;
    width: 200px;
}

}

footer{
    text-align: center;
    text-shadow: 10px;
    width: 100%;
    height: 2.5rem;
}

