@import './variables';

body{
    height: 100vh;
    width: auto;
}

h5{
    margin: 22px;
    font-weight: 700;
    font-size: 20px;
}

.body-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include media-md{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;  
    }

    img{
        margin: 20px;
        height: 40%;
        width: 45%;

        @include media-md{
            height: 40%;
            width: 40%;
        }
    }
}
.body-content{
    padding-left: 40px;
}

h3{
   font-size: 50px;
   font-family: monospace;
   margin-bottom: 10px;

   span{
    font-size: 40px;
   }
}

p{
    text-align: left;
    font-family: serif;
    font-size: 20px;
    margin-bottom: 15px;

    @include media-md{
        width: 50%;
    }
}


button{
    background: black;
    color: #fff;
    height: 60px;
    width: 200px;
}



footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    text-shadow: 10px;
    width: 100%;
    height: 2.5rem;
}

